<b>Create</b> : insertOne() insertMany()

<b>Read</b> : find() findOne()

<b>Update</b> : updateOne() updateMany() replaceOne()

<b>Delete</b> : deleteOne() deleteMany()

This is the `store` collection in our database :

In [ ]:
[
  {
    _id: ObjectId("64c239c73a792aaff0cf5135"),
    name: 'chips',
    price: 110
  },
  {
    _id: ObjectId("64c376d43a792aaff0cf5136"),
    name: 'burger',
    count: 6
  }
]

if we write this:

In [ ]:
db.products.deleteOne({name:"burger"})

it would go ahead, find the <b>first</b> document in our database where the name is burger and delete it.

In [ ]:
db.products.updateOne({count:6},{marker:"delete"})

this might add a new field `marker` with the value delete to the first element with count=6 but we get an error and the error is that the update operation document must contain atomic operator. the thing is an incorrect type of data for updating. you don't pass in a document describing your change like this because mongoDB doesn't know how to interpret this, instead what you do pass here is a document with curly braces with a special keyword `$set` and this is something you can remember, whenever you see something with dollar sign in mongoDB, it's a reserved operator or word. `$set` is simply identified by mongoDB when used in the update one operation to describe the changes you want to make. the value of $set then is a document with curly braces . what this does is it tells mongoDB for this document you are finding, set the value and if this value did exist, it would change it to `delete` and if it does not exist, it will add it.

In [ ]:
db.products.updateOne({count:6},{$set:{marker:"delete"}})

If we want to add `marker` to <b>all</b> documents:

In [ ]:
db.products.updateMany({},{$set:{marker:"toDelete"}})

now, all of our documents have marker field with `toDelete` value. now if we write:

In [ ]:
db.products.deleteMany({marker:"toDelete"})

it deleted <b>all</b> documents in `products` collection.

`insertMany()` allows you insert many elements and this is actually done by passing an array:

In [ ]:
 db.products.insertMany([{name:'cake',price:90,count:4},{name:'bread',count:8}])

result is:

In [ ]:
{
  acknowledged: true,
  insertedIds: {
    '0': ObjectId("64c382493a792aaff0cf5137"),
    '1': ObjectId("64c382493a792aaff0cf5138")
  }
}

first id is .........7 and second is ........8 because mongoDB keeps the order.

how to filter find :

In [ ]:
db.products.find({count:8})

if we want to have a `greate than` check :

In [ ]:
db.products.find({count:{$gt: 5}})

if we want first element with that condition:

In [ ]:
db.products.findOne({count:{$gt: 5}})

updateMany() used to update all matching elements and update() would also update all matching elements.The difference can be seen if we remove `$set`. with updateOne and updateMany this gave us an error. but with `update` this actually works.